.header {
  left: 0px;
}

.header ul {
  display: block;
  margin: 1px 0;
  padding: 0;
}

ul > li {
  box-sizing: border-box;
  display: inline-block;
  width: 41px;
  color:rgb(117, 117, 117);
}

.calendar {
  border-spacing: 2px;
}
