body {
  /* Safari & Chromium */
  font-family: -apple-system, BlinkMacSystemFont;
  color: rgb(72, 72, 72);
}

button {
  outline: none !important;
}

input {
  padding-left: 10px;
}

.wrapper {
  padding: 16px 24px 24px 24px;
  border: 1px;
  width: 326px;
  border-style: solid;
  border-color: rgb(228, 228, 228);
}

.form label {
  margin-bottom: 4px;
}

.form span {
  font-size: 12px;
  font-weight: 600;
}

.form input {
  width: 134px;
  height: 38px;
  font-size: 16px;
  font-weight: 400;
  padding-left: 0 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
}

.arrow {
  height: 24px;
  width: 24px;
  display: block;
  fill: currentcolor;
}

.fieldSet {
  margin: 8px 0;
}

.memo {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 11px;
}