.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}

.btnText {
  display: flex;
  justify-content: flex-end;
  color: rgb(0, 132, 137);
}

.btnText:hover {
  text-decoration: underline;
  color: #008489;
}

.container {
  width: 288;
  height: 332px;
  padding: 20px 22px 22px 22px;
  border: 1px;
  border-style: solid;
  border-color: rgb(228, 228, 228);
  border-radius: 3px;
}